# Google Gemini API Key
GOOGLE_API_MODEL=gemini-2.0-flash
GOOGLE_API_KEY=AIzaSyAJ2B1fSSfIGCTLvqrfj737TcgjxC0mkzA

# App Settings
APP_NAME=FlowOS
DEBUG=True

# Database
DATABASE_URL=sqlite:///./flowos.db
